<div class="footer-top-cta">
    <div class="cta-text">
        Hosting a show, event, or exhibition? Partner
     with us and get featured on <strong>Dandiya Desk!</strong></div>
     <button class="cta-btn">Join as an Organiser</button>
</div>
<footer class="footer">
    <div class="footer-section">
        <h2 class="brand">Dandiya Desk</h2>
        <p class="tagline">Revolution Ticketing with Tech for Entire Entertaiment Ecosystem</p>

        <h3 class="follow-title">Follow Us</h3>
        <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-x-twitter"></i>
            <i class="fab fa-linked-in"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
    <div class="footer-section">
        <h3 class="column-title">Quick Menu</h3>
        <a routerLink="">Business</a>
        <a routerLink="">Events</a>
        <a routerLink="">Contact Us</a>
        <a routerLink="">Blogs</a>
    </div>
    <div class="footer-section">
        <h3 class="column-title">Company</h3>
        <a routerLink="">Privacy Policy</a>
        <a routerLink="">Refund Policy</a>
        <a routerLink="">Terms & Conditions</a>
    </div>
</footer>
<hr class="footer-divider"/>
<div class="footer-bottom">
    © 2025 Copyright and all rights reserved by Dandiya Desk Event Management Private Limited
</div>